.content_info
{
    width:100%;
    margin-top:5%;
    display: inline-flex;
    background: #a00037;
}
.cart_info
{
    width:30%;
    cursor:pointer;
    transition:1s;
    margin-left:5%;
    margin-top:8px;
    color: #ffffff;
}

nu ul
{
    margin-right:5%;
}
